.user_show_page
  .user__area
    = @user.name
    = @user.email
    = @user.tel

  - @user.articles.each do |article|
    .article_area
      = article.name
      = article.description
      = image_tag article.image
  = link_to "トップページへ", root_path