.user_show_page
  .user__area
    = @user.name
    = @user.email
    = @user.tel
  - articles = @user.articles.article_publish
  - articles.each do |article|
    .article_area
      = article.name
      = article.description
      = image_tag article.image
  - if @user = current_user
    - articles = @user.articles.article_draft
    - articles.each do |article|
      .article_area
        = article.name
        = article.description
        = image_tag article.image
  = link_to "トップページへ", root_path